h1{
    background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
img{
    background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 51%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
input{
    background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 23%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
body{background-color:rgba(0, 0, 0, 0.911);
}